.top-bar,
.top-bar ul {
	background-color: $nav-bg;

	.menu-text {
		color: $text-light;
	}

	.menu > .menu-text > a {
		display: inline;
		padding: 0;
	}

	.active-link {
		font-weight: bold;
		border-bottom: 2px solid;
		padding: 5px 0;
		margin: 0 10px;
	}
}
